:root {
    --footer-containerWidth: 1380px;
    /* для курсоров */

    --fireworkPositionX: 405px;
    --fireworkPositionY: 320px;

    --photoPositionX: 405px;
    --photoPositionY: 620px;
}

body {
    color: #6100FF;
    font-family: Arial;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* background-color: #DEF5C2; */
}
#all-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.title {
    font-family: 'Irish Grover', cursive;
    font-size: 84px;
}

.text {
    font-family: Arial;
    font-weight: 400;
    font-size: 65px;
}

.text_bold {
    font-family: Arial;
    font-weight: 700;
    font-size: 65px;
}

.none {
    display: none !important;
    visibility: hidden !important;
}

/*========== colors ========== */
.red {
    color: #FF0000;
}
.blue {
    color: #0066FF;
}
.green {
    color: #14FF00;
}
.purple {
    color: #6100FF;
}
.pink {
    color: #FF00D6;
}
.yellow {
    color: #FFE500;
}
/*=//======= colors ========== */